a{
  color: white;
}
.head{
    font-size: 4rem;
    font-weight: 800;
    
}
.navbar1{
  /* transition: top 0.8s; */
  animation: fade-in 10s ease-in-out both;
}
.mar{
  /* margin-top: -1rem; */
  /* background-color: beige; */
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 2rem;
 
 
}

.back{
  background-image:url('./images/banner-04.jpg');
  background-position:center;
  background-size: cover;
  position: relative;
  height: 90vh;
}
.back::after{
position: absolute;
content: ' ';
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.351);
/* z-index: 1; */
}

.index{
  z-index: 2;
  position: absolute;
}


@media screen and (max-width:768px) {
  .navbar1{
    display: none;
  }
}

